<section>
  <article class="card">
    <p>Lista de Cursos do Portal {{ nomePortal }}</p>
    <ul>
      <li *ngFor="let curso of cursos">
        {{ curso }}
      </li>
    </ul>
    <app-curso-detalhes></app-curso-detalhes>
  </article>
  <br />
  <article class="card">
    <h4>Selecione uma Classe:</h4>
    <select class="col-sm-3"  #classe (change)="0">
      <option value="alert-primary">Primary</option>
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Erro</option>
    </select>
    <br />

    <div class=" alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Esse testo somente aparece em caso de erro.
    </div>
    <div class=" alert {{classe.value}}">
      Texto colorido de acordo com o valor do combobox.
    </div>
    <div class="alert" role="alert" [class.alert-primary]="classe.value == 'alert-primary'">
      primary
    </div>
    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
      success
    </div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
      info
    </div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
      warning
    </div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
      danger
    </div>

  </article>
</section>
