<article class="card">
  <h2>Event Binding with Angular</h2>
  <br />
  <div #classe>
    <button class="btn btn-primary" (click)="botaoClicado()">Me clique</button>
    <br />
    <br />
    <input
      class="form-control col-sm-3"
      type="text"
      #pegaInput
      (keyup)="onKeyUp($event)"
      (blur)="salvarDado(pegaInput.value)"
    />
    <p>Dado digitado: {{ valorAtual }}</p>
    <p>Dado salvo: {{ valorSalvo }}</p>
    <span
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOver()"
      [class.piscar]="isMouseOver"
      >Pisca-pisca</span
    >
  </div>
</article>
<br />
<article class="card">
  <h2>Two-way Data Binding</h2>
  <br />

  <input type="nome" name="nome" [value]="nome" (input)="nome = $event.target.value" />
  <p>Value: {{ nome }}</p>
</article>
